{{> base}}
<body>
    <h1>Transaction Errors</h1>
    <a class="button" href="/">Home</a>
    <a class="button" href="/upload">Upload Transactions</a>
    <a class="button" href="/transactions">View Transactions</a>
    <button class="button" disabled>View Errors</button>
    <a class="button" href="/aggregates">View Aggregates</a>
    <button class="button" id="clearData">Clear All Data</button><br/><br/><br/>    
    <label for="files">Current File:</label>
    <select id="files">
    </select>
    <button id="showErrorCodes" class="button" onclick="toggleErrorCodes()">Toggle Error Codes</button>

    <div id="errorCodes" style="display:none;">
        <h3>Error Codes</h3>
        <div id="errorCodesWrapper"></div>
    </div><br/><br/>
    <h3>File Stats</h3>
    <div id="fileData">No Data</div>
    <br/>
    <h3>Errors</h3>
    <p class="message">{{message}}</p>
    <div id="tableData">No Data</div>
    <br/>
    <br/>
    <br/>
 
</body>
<script>
    let offset = 0;
    let limit = 10;
    $(document).ready(function() {
        fecthErrorData();
        fetchErrorCodes();
    });
    function fetchErrorCodes(){
        $.ajax({
            url: '/api/errorCodes',
            type: 'get',
            success: function(response) {
                if( response.data.length > 0) {
                    $('#errorCodesWrapper').html(getTableHtml(response.data));
                } else {
                    $('#errorCodesWrapper').append('<option value="">No ErrorCodes available</option>');
                }
            },
            error: function(xhr, status, error) {
                $('#errorCodesWrapper').html('Error fetching data: ' + error);
            }
        });
    }
    function fecthErrorData(){
            let selectedFile = $('#files').val();
             $.ajax({
                url: '/api/fileNames',
                type: 'get',
                 data: { fileName: selectedFile}, // Query parameters
                success: function(response) {
                    if( response.data.length > 0) {
                        response.data.forEach(function(file) {
                            $('#files').append('<option value="' + file.file_name + '">' + file.file_name + '</option>');
                        });
                        $('#fecthData').prop('disabled', false); // Enable the button
                        fetchFile();
                        fetchData();
                    } else {
                        $('#files').append('<option value="">No files available</option>');
                    }
                    $('#message').html(response);
                },
                error: function(xhr, status, error) {
                    $('#message').html('Error fetching data: ' + error);
                }
            });
    }
    $('#files').change(function() {
        $('#tableData').empty()
        offset = 0;
        limit = 10;
        fetchFile();
        fetchData();
    });

    function fetchFile(){
         $('#fileData').html("");
         let selectedFile = $('#files').val();
            $.ajax({
                url: '/api/file',
                type: 'get',
                data: { fileName: selectedFile }, // Query parameters
                success: function(response) {
                    if (response.data.length > 0) {
                        $('#fileData').html(getTableHtml(response.data));
                    } else {
                        $('#fileData').append('<option value="">No files available</option>');
                    }
                },
                error: function(xhr, status, error) {
                    $('#message').html('Error fetching data: ' + error);
                }
            });
    }

    function fetchData(){
        var selectedFile = $('#files').val();
        $.ajax({
            url: '/api/errorData',
            type: 'get',
            data: { fileName: selectedFile, offset: offset, limit: limit }, // Query parameters
            success: function(response) {
                if (response.data.length > 0) {
                    
                    $('#tableData').html(getTableHtml(response.data)); 
                    $('#tableData').append(getPagination('changePage',response.nextOffset)); 
                } else {
                    $('#tableData').append('No data available for the selected file.');
                }
            },
            error: function(xhr, status, error) {
                $('#tableData').html('Error fetching data: ' + error);
            }
        });
    }
    
    function changePage(direction) {
        offset += direction * limit;
        offset = Math.max(0, offset); // Ensure offset doesn't go negative
        fetchData();
    }
    function toggleErrorCodes() {
        var errorCodesDiv = document.getElementById("errorCodes");
        if (errorCodesDiv.style.display === "none") {
            errorCodesDiv.style.display = "block";
        } else {
            errorCodesDiv.style.display = "none";
        }
    }
</script>
</html>