.App {
  text-align: center;
  margin: 20px;
  font-family: 'Arial', sans-serif;
  color: black;
}

input[type="file"] {
  margin: 20px 10px;
  padding: 10px;
  font-size: 16px;
  color: black;
  border: 2px solid #003366;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover:not(:disabled) {
  background-color: #002244;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.nav-bar {
  background-color: #003366;  
  padding: 5px 0;             
  display: flex;
  justify-content: center;
  gap: 10px;                   
}

.nav-bar button {
  background: none;            
  border: none;                
  color: white;               
  padding: 5px 10px;           
  font-size: 15px;             
  cursor: pointer;
  transition: color 0.2s ease, border-bottom 0.2s ease;
}

.nav-bar button:hover {
  color: #99b3cc;              
}

.nav-bar button.active {
  border-bottom: 1px solid #99b3cc; 
  color: #99b3cc;              
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  border: 2px solid #003366;   
}

th, td {
  padding: 12px;
  text-align: center;           
  border: 2px solid #003366;    
  vertical-align: middle;
}

th {
  background-color: #99b3cc;  
  color: black;
}

tr:hover {
  background-color: #f5f5f5;  
}

.files-container {
  display: flex;
  justify-content: center;      
  align-items: center;          
  height: 100%;                 
}

ul {
  list-style-type: disc;        
  padding-left: 0;
  margin-left: 0;
  color: black;
}

ul li {
  margin: 0.5em 0;              
  padding: 0;
  background: none;             
  border: none;                 
  list-style-position: inside;  
  text-align: center;           
  font-size: 16px;              
}


@media (max-width: 768px) {
  table {
    font-size: 16px;
    width: 90%;
  }

  th, td {
    padding: 10px;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }

  input[type="file"] {
    font-size: 14px;
    padding: 8px;
  }
}
